In [1]:
import warnings

warnings.simplefilter("ignore")

import os
import numpy as np
import pandas as pd

pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 6)
pd.set_option("display.width", None)

data_dir = f"../datasets/march-machine-learning-mania-2025"

In [2]:
raw = pd.DataFrame()

for fn in ["MNCAATourney", "MRegularSeason", "WNCAATourney", "WRegularSeason"]:
    raw = pd.concat(
        [
            raw,
            pd.read_csv(
                f"{data_dir}/{fn}DetailedResults.csv",
            ),
        ]
    ).reset_index(drop=True)

for c in raw.select_dtypes("int"):
    raw[c] = raw[c].astype("int32")

print(f"raw {raw.shape}")

raw (202033, 34)

In [3]:
tar = raw[["Season", "DayNum", "WTeamID", "LTeamID"]]
tar["WMargin"] = raw["WScore"] - raw["LScore"]
tar["LMargin"] = -tar["WMargin"]

tar = pd.concat(
    [
        tar.rename(
            columns={
                "WTeamID": "TeamID",
                "LTeamID": "OppID",
                "WMargin": "Margin",
            }
        ).drop(columns="LMargin"),
        tar.rename(
            columns={
                "LTeamID": "TeamID",
                "WTeamID": "OppID",
                "LMargin": "Margin",
            }
        ).drop(columns="WMargin"),
    ]
).reset_index(drop=True)

print(f"tar {tar.shape}\n")
print(tar)

tar (404066, 5)

        Season  DayNum  TeamID  OppID  Margin
0         2003     134    1421   1411       8
1         2003     136    1112   1436      29
2         2003     136    1113   1272      13
...        ...     ...     ...    ...     ...
404063    2025     120    3408   3412      -2
404064    2025     120    3187   3427     -19
404065    2025     120    3464   3460     -15

[404066 rows x 5 columns]

In [4]:
gam = raw.copy()
gam.loc[gam["WLoc"] == "A", "WLoc_"] = -1
gam.loc[gam["WLoc"] == "N", "WLoc_"] = 0
gam.loc[gam["WLoc"] == "H", "WLoc_"] = 1
gam = gam.drop(columns="WLoc").rename(columns={"WLoc_": "WLoc"})
gam["WLoc"] = gam["WLoc"].astype("int32")
gam["LLoc"] = -gam["WLoc"]

gam = pd.concat(
    [
        gam.rename(columns={c: f"{c[1:]}_gu" for c in gam if c[0] == "W"}).rename(
            columns={c: f"{c[1:]}_gt" for c in gam if c[0] == "L"}
        ),
        gam.rename(columns={c: f"{c[1:]}_gu" for c in gam if c[0] == "L"}).rename(
            columns={c: f"{c[1:]}_gt" for c in gam if c[0] == "W"}
        ),
    ]
).reset_index(drop=True)

gam = gam.rename(columns={"TeamID_gu": "TeamID", "TeamID_gt": "OppID"})
gam["NumOT_gu"] = gam["NumOT"]
gam = gam.drop(columns=["NumOT", "Loc_gt"])

print(f"gam {gam.shape}\n")
print(gam[[c for c in gam if c[-3:-1] != "_g"]])
print()
print(gam[[c for c in gam if c[-3:] == "_gu"]])
print()
print(gam[[c for c in gam if c[-3:] == "_gt"]])

gam (404066, 34)

        Season  DayNum  TeamID  OppID
0         2003     134    1421   1411
1         2003     136    1112   1436
2         2003     136    1113   1272
...        ...     ...     ...    ...
404063    2025     120    3408   3412
404064    2025     120    3187   3427
404065    2025     120    3464   3460

[404066 rows x 4 columns]

        Score_gu  FGM_gu  FGA_gu  FGM3_gu  FGA3_gu  FTM_gu  FTA_gu  OR_gu  DR_gu  Ast_gu  TO_gu  Stl_gu  Blk_gu  PF_gu  Loc_gu  NumOT_gu
0             92      32      69       11       29      17      26     14     30      17     12       5       3     22       0         1
1             80      31      66        7       23      11      14     11     36      22     16      10       7      8       0         0
2             84      31      59        6       14      16      22     10     27      18      9       7       4     19       0         0
...          ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...     ...       ...
404063        64      23      64        6       24      12      19      7     27      11     15      10       5     18      -1         0
404064        48      18      58        6       17       6      14     12     12      10      6       6       2     14       1         0
404065        58      21      52        4       11      12      18      4     20      10     12       9       4     12      -1         0

[404066 rows x 16 columns]

        Score_gt  FGM_gt  FGA_gt  FGM3_gt  FGA3_gt  FTM_gt  FTA_gt  OR_gt  DR_gt  Ast_gt  TO_gt  Stl_gt  Blk_gt  PF_gt
0             84      29      67       12       31      14      31     17     28      16     15       5       0     22
1             51      20      64        4       16       7       7      8     26      12     17      10       3     15
2             71      25      69        7       28      14      21     20     22      11     12       2       5     18
...          ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...
404063        66      23      61        8       32      12      15      7     33      13     19      10       2     18
404064        67      27      59        5       17       8      10     14     27      17     12       2       2     16
404065        73      26      61       10       23      11      13     15     28      14     16       7       4     15

[404066 rows x 14 columns]

In [5]:
sea = (
    gam.groupby(["Season", "TeamID"])
    .agg(
        dict(
            **{
                c: "sum"
                for c in gam.drop(
                    columns=[
                        "Season",
                        "TeamID",
                        "OppID",
                        "DayNum",
                    ]
                )
            },
            DayNum="count",
        )
    )
    .reset_index()
)

sea["DayNum"] = sea["DayNum"].astype("int32")

sea = sea.rename(columns={c: f"{c[:-2]}s{c[-1]}" for c in sea if c[-3:-1] == "_g"})

sea = sea.rename(columns={"DayNum": "Games_su"})

print(f"sea {sea.shape}\n")
print(sea[[c for c in sea if c[-3:-1] != "_s"]])
print()
print(sea[[c for c in sea if c[-3:] == "_su"]])
print()
print(sea[[c for c in sea if c[-3:] == "_st"]])

sea (13583, 33)

       Season  TeamID
0        2003    1102
1        2003    1103
2        2003    1104
...       ...     ...
13580    2025    3478
13581    2025    3479
13582    2025    3480

[13583 rows x 2 columns]

       Score_su  FGM_su  FGA_su  FGM3_su  FGA3_su  FTM_su  FTA_su  OR_su  DR_su  Ast_su  TO_su  Stl_su  Blk_su  PF_su  Loc_su  NumOT_su  Games_su
0          1603     536    1114      219      583     312     479    117    471     364    320     167      50    525       0         0        28
1          2127     733    1508      147      434     514     698    264    538     411    341     196      63    536       1         8        27
2          2002     695    1653      183      568     429     602    389    690     352    380     187     112    526       6         1        29
...         ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...     ...       ...       ...
13580      1519     506    1439      184      585     323     424    203    604     283    455     149      49    392      -2         2        28
13581      1442     493    1219      156      486     300     411    121    523     239    411     132      29    433      -7         3        23
13582      1784     640    1582      159      559     345     510    279    623     343    456     196      63    468      -5         3        27

[13583 rows x 17 columns]

       Score_st  FGM_st  FGA_st  FGM3_st  FGA3_st  FTM_st  FTA_st  OR_st  DR_st  Ast_st  TO_st  Stl_st  Blk_st  PF_st
0          1596     540    1188      133      348     383     539    269    564     256    363     152      44    514
1          2110     750    1539      180      496     430     598    325    595     418    414     173      77    606
2          1887     670    1603      185      554     362     506    318    656     342    396     156      91    556
...         ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...
13580      1963     746    1689      237      684     234     321    274    663     469    338     226      67    447
13581      1612     605    1359      110      376     292     422    197    561     289    351     202      56    446
13582      1921     710    1642      157      524     344     482    269    599     357    386     211      83    493

[13583 rows x 14 columns]

In [6]:
gsx = pd.merge(gam, sea, on=["Season", "TeamID"])

gsx = gsx.rename(columns={c: f"T_{c}" for c in gsx if c[-3:-1] == "_s"})

gsx = pd.merge(
    gsx,
    sea,
    left_on=["Season", "OppID"],
    right_on=["Season", "TeamID"],
    suffixes=["", "_fromseason"],
)

gsx = gsx.drop(columns="TeamID_fromseason")

gsx = gsx.rename(
    columns={c: f"O_{c}" for c in gsx if c[:2] != "T_" and c[-3:-1] == "_s"}
)

print(f"gsx {gsx.shape}\n")
print(gsx[[c for c in gsx if c[-3:-1] not in ("_g", "_s")]])
print()
print(gsx[[c for c in gsx if c[-3:] == "_gu"]])
print()
print(gsx[[c for c in gsx if c[-3:] == "_gt"]])
print()
print(gsx[[c for c in gsx if c[:2] == "T_" and c[-3:] == "_su"]])
print()
print(gsx[[c for c in gsx if c[:2] == "T_" and c[-3:] == "_st"]])
print()
print(gsx[[c for c in gsx if c[:2] == "O_" and c[-3:] == "_su"]])
print()
print(gsx[[c for c in gsx if c[:2] == "O_" and c[-3:] == "_st"]])

gsx (404066, 96)

        Season  DayNum  TeamID  OppID
0         2003     134    1421   1411
1         2003     136    1112   1436
2         2003     136    1113   1272
...        ...     ...     ...    ...
404063    2025     120    3408   3412
404064    2025     120    3187   3427
404065    2025     120    3464   3460

[404066 rows x 4 columns]

        Score_gu  FGM_gu  FGA_gu  FGM3_gu  FGA3_gu  FTM_gu  FTA_gu  OR_gu  DR_gu  Ast_gu  TO_gu  Stl_gu  Blk_gu  PF_gu  Loc_gu  NumOT_gu
0             92      32      69       11       29      17      26     14     30      17     12       5       3     22       0         1
1             80      31      66        7       23      11      14     11     36      22     16      10       7      8       0         0
2             84      31      59        6       14      16      22     10     27      18      9       7       4     19       0         0
...          ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...     ...       ...
404063        64      23      64        6       24      12      19      7     27      11     15      10       5     18      -1         0
404064        48      18      58        6       17       6      14     12     12      10      6       6       2     14       1         0
404065        58      21      52        4       11      12      18      4     20      10     12       9       4     12      -1         0

[404066 rows x 16 columns]

        Score_gt  FGM_gt  FGA_gt  FGM3_gt  FGA3_gt  FTM_gt  FTA_gt  OR_gt  DR_gt  Ast_gt  TO_gt  Stl_gt  Blk_gt  PF_gt
0             84      29      67       12       31      14      31     17     28      16     15       5       0     22
1             51      20      64        4       16       7       7      8     26      12     17      10       3     15
2             71      25      69        7       28      14      21     20     22      11     12       2       5     18
...          ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...
404063        66      23      61        8       32      12      15      7     33      13     19      10       2     18
404064        67      27      59        5       17       8      10     14     27      17     12       2       2     16
404065        73      26      61       10       23      11      13     15     28      14     16       7       4     15

[404066 rows x 14 columns]

        T_Score_su  T_FGM_su  T_FGA_su  T_FGM3_su  T_FGA3_su  T_FTM_su  T_FTA_su  T_OR_su  T_DR_su  T_Ast_su  T_TO_su  T_Stl_su  T_Blk_su  T_PF_su  T_Loc_su  T_NumOT_su  T_Games_su
0             2218       762      1778        204        572       490       645      383      718       400      493       219        93      592        -4           6          31
1             2725       973      2111        228        645       551       777      479      895       569      468       274       136      559         3           4          32
2             2363       848      1778        126        394       541       805      424      717       480      426       165       132      603         5           2          31
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...       ...         ...         ...
404063        1922       706      1672        181        541       329       506      248      741       397      515       231       108      433         4           0          28
404064        1886       691      1775        119        417       385       567      382      664       415      542       290       121      522         1           3          30
404065        1603       573      1559        159        572       298       425      228      631       341      449       190        88      476        -2           2          28

[404066 rows x 17 columns]

        T_Score_st  T_FGM_st  T_FGA_st  T_FGM3_st  T_FGA3_st  T_FTM_st  T_FTA_st  T_OR_st  T_DR_st  T_Ast_st  T_TO_st  T_Stl_st  T_Blk_st  T_PF_st
0             2441       866      1897        239        649       470       705      434      718       491      401       267       125      580
1             2262       846      2078        210        654       360       560      415      754       496      534       201        84      694
2             2185       784      1742        170        498       447       650      351      646       440      475       182       125      701
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...
404063        1820       680      1837        167        600       293       425      318      653       389      451       275       109      471
404064        1856       678      1708        161        503       339       493      301      617       417      550       313        97      554
404065        1815       635      1542        162        501       383       523      215      673       356      396       199        98      476

[404066 rows x 14 columns]

        O_Score_su  O_FGM_su  O_FGA_su  O_FGM3_su  O_FGA3_su  O_FTM_su  O_FTA_su  O_OR_su  O_DR_su  O_Ast_su  O_TO_su  O_Stl_su  O_Blk_su  O_PF_su  O_Loc_su  O_NumOT_su  O_Games_su
0             2268       771      1725        190        586       536       873      412      772       442      472       198        67      571         2           2          31
1             2017       740      1684        157        465       380       574      384      772       424      425       209        89      476        -4           2          30
2             2232       787      1809        210        610       448       685      428      775       493      412       216       152      562         5           1          30
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...       ...         ...         ...
404063        1956       702      1687        249        746       303       412      193      738       423      463       192       125      464        -1           3          29
404064        1937       709      1743        155        530       364       494      395      679       418      463       223       121      499        -1           0          29
404065        1916       680      1772        186        622       370       507      268      667       328      466       209        83      520         0           1          30

[404066 rows x 17 columns]

        O_Score_st  O_FGM_st  O_FGA_st  O_FGM3_st  O_FGA3_st  O_FTM_st  O_FTA_st  O_OR_st  O_DR_st  O_Ast_st  O_TO_st  O_Stl_st  O_Blk_st  O_PF_st
0             2217       802      1881        237        724       376       588      372      716       430      442       245        81      671
1             1911       691      1663        212        645       317       471      289      670       407      393       216       113      528
2             1993       706      1737        177        545       404       623      368      711       404      446       218        96      597
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...
404063        1973       739      1884        174        589       321       463      324      728       373      403       237        87      443
404064        1621       588      1597        164        521       281       436      267      537       329      466       212        92      517
404065        2158       796      1786        173        526       393       521      269      762       423      439       253        96      485

[404066 rows x 14 columns]

In [7]:
aop = (
    gsx.groupby(["Season", "TeamID"])[[c for c in gsx if c[:2] == "O_"]]
    .sum()
    .reset_index()
)

aop = aop.rename(columns={c: f"{c[2:-2]}a{c[-1]}" for c in aop if c[-3:-1] == "_s"})

print(f"aop {aop.shape}\n")
print(aop[[c for c in aop if c[-3:-1] != "_a"]])
print()
print(aop[[c for c in aop if c[-3:] == "_au"]])
print()
print(aop[[c for c in aop if c[-3:] == "_at"]])

aop (13583, 33)

       Season  TeamID
0        2003    1102
1        2003    1103
2        2003    1104
...       ...     ...
13580    2025    3478
13581    2025    3479
13582    2025    3480

[13583 rows x 2 columns]

       Score_au  FGM_au  FGA_au  FGM3_au  FGA3_au  FTM_au  FTA_au  OR_au  DR_au  Ast_au  TO_au  Stl_au  Blk_au  PF_au  Loc_au  NumOT_au  Games_au
0         57412   20042   44680     4964    14029   12364   17706   9378  18469   10938  11898    5643    2495  16224      61        31       807
1         54867   19010   42418     4843    13855   12004   17190   8669  17648   10362  11586    5235    2346  15703     -31        69       778
2         61173   21792   48500     5624    15822   11965   17130  10172  20372   12240  12597    6196    3160  15863     111        41       872
...         ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...     ...       ...       ...
13580     47238   17377   43155     4356    13993    8128   11363   6555  16899    9468  11575    5105    1909  12507     -27        59       764
13581     38335   14018   35864     3722    12136    6577    9132   5471  14026    7904  10008    4201    1657  10457     -25        55       636
13582     49240   17866   43826     4623    14882    8885   12418   6951  16825    9098  11496    5504    2025  12766     -34        45       748

[13583 rows x 17 columns]

       Score_at  FGM_at  FGA_at  FGM3_at  FGA3_at  FTM_at  FTA_at  OR_at  DR_at  Ast_at  TO_at  Stl_at  Blk_at  PF_at
0         56677   19619   44070     4893    14021   12546   17898   8998  18283   10895  11993    5539    2498  16269
1         55649   19442   43018     4720    13489   12045   17239   8840  17676   10451  11106    5531    2209  15595
2         57995   20605   48315     5258    15611   11527   16689   9921  19158   10817  12782    6144    2796  16128
...         ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...
13580     49787   18304   43933     4828    15136    8351   11769   6930  17418   10046  10992    5773    2159  12194
13581     42262   15478   37106     4180    12909    7126    9903   6016  14745    8899   9162    4966    1824   9972
13582     50868   18559   44153     4664    14575    9086   12815   7304  17393    9610  11240    5727    2273  12420

[13583 rows x 14 columns]

In [8]:
gsa = pd.merge(gsx, aop, on=["Season", "TeamID"])

stats = [c[:-3] for c in gam if c[-3:] == "_gu" and c not in ("Loc_gu", "NumOT_gu")]

for stat in stats:
    gsa[f"T_{stat}_su"] = gsa[f"T_{stat}_su"] - gsa[f"{stat}_gu"]
    gsa[f"T_{stat}_st"] = gsa[f"T_{stat}_st"] - gsa[f"{stat}_gt"]

    gsa[f"O_{stat}_su"] = gsa[f"O_{stat}_su"] - gsa[f"{stat}_gt"]
    gsa[f"O_{stat}_st"] = gsa[f"O_{stat}_st"] - gsa[f"{stat}_gu"]

    gsa[f"{stat}_au"] = gsa[f"{stat}_au"] - gsa[f"{stat}_gt"]
    gsa[f"{stat}_at"] = gsa[f"{stat}_at"] - gsa[f"{stat}_gu"]

for stat in ["Loc", "NumOT"]:
    gsa[f"T_{stat}_su"] = gsa[f"T_{stat}_su"] - gsa[f"{stat}_gu"]
    gsa[f"O_{stat}_su"] = gsa[f"O_{stat}_su"] + gsa[f"{stat}_gu"]
    gsa[f"{stat}_au"] = gsa[f"{stat}_au"] + gsa[f"{stat}_gu"]

gsa[f"T_Games_su"] -= 1
gsa[f"O_Games_su"] -= 1
gsa[f"Games_au"] -= 1

gsa = gsa.drop(columns=[c for c in gsa if c[-3:-1] == "_g"])

print(f"gsa {gsa.shape}\n")
print(gsa[[c for c in gsa if c[-3:-1] not in ("_s", "_a")]])
print()
print(gsa[[c for c in gsa if c[:2] == "T_" and c[-3:] == "_su"]])
print()
print(gsa[[c for c in gsa if c[:2] == "T_" and c[-3:] == "_st"]])
print()
print(gsa[[c for c in gsa if c[:2] == "O_" and c[-3:] == "_su"]])
print()
print(gsa[[c for c in gsa if c[:2] == "O_" and c[-3:] == "_st"]])
print()
print(gsa[[c for c in gsa if c[-3:] == "_au"]])
print()
print(gsa[[c for c in gsa if c[-3:] == "_at"]])

gsa (404066, 97)

        Season  DayNum  TeamID  OppID
0         2003     134    1421   1411
1         2003     136    1112   1436
2         2003     136    1113   1272
...        ...     ...     ...    ...
404063    2025     120    3408   3412
404064    2025     120    3187   3427
404065    2025     120    3464   3460

[404066 rows x 4 columns]

        T_Score_su  T_FGM_su  T_FGA_su  T_FGM3_su  T_FGA3_su  T_FTM_su  T_FTA_su  T_OR_su  T_DR_su  T_Ast_su  T_TO_su  T_Stl_su  T_Blk_su  T_PF_su  T_Loc_su  T_NumOT_su  T_Games_su
0             2126       730      1709        193        543       473       619      369      688       383      481       214        90      570        -4           5          30
1             2645       942      2045        221        622       540       763      468      859       547      452       264       129      551         3           4          31
2             2279       817      1719        120        380       525       783      414      690       462      417       158       128      584         5           2          30
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...       ...         ...         ...
404063        1858       683      1608        175        517       317       487      241      714       386      500       221       103      415         5           0          27
404064        1838       673      1717        113        400       379       553      370      652       405      536       284       119      508         0           3          29
404065        1545       552      1507        155        561       286       407      224      611       331      437       181        84      464        -1           2          27

[404066 rows x 17 columns]

        T_Score_st  T_FGM_st  T_FGA_st  T_FGM3_st  T_FGA3_st  T_FTM_st  T_FTA_st  T_OR_st  T_DR_st  T_Ast_st  T_TO_st  T_Stl_st  T_Blk_st  T_PF_st
0             2357       837      1830        227        618       456       674      417      690       475      386       262       125      558
1             2211       826      2014        206        638       353       553      407      728       484      517       191        81      679
2             2114       759      1673        163        470       433       629      331      624       429      463       180       120      683
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...
404063        1754       657      1776        159        568       281       410      311      620       376      432       265       107      453
404064        1789       651      1649        156        486       331       483      287      590       400      538       311        95      538
404065        1742       609      1481        152        478       372       510      200      645       342      380       192        94      461

[404066 rows x 14 columns]

        O_Score_su  O_FGM_su  O_FGA_su  O_FGM3_su  O_FGA3_su  O_FTM_su  O_FTA_su  O_OR_su  O_DR_su  O_Ast_su  O_TO_su  O_Stl_su  O_Blk_su  O_PF_su  O_Loc_su  O_NumOT_su  O_Games_su
0             2184       742      1658        178        555       522       842      395      744       426      457       193        67      549         2           3          30
1             1966       720      1620        153        449       373       567      376      746       412      408       199        86      461        -4           2          29
2             2161       762      1740        203        582       434       664      408      753       482      400       214       147      544         5           1          29
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...       ...         ...         ...
404063        1890       679      1626        241        714       291       397      186      705       410      444       182       123      446        -2           3          28
404064        1870       682      1684        150        513       356       484      381      652       401      451       221       119      483         0           0          28
404065        1843       654      1711        176        599       359       494      253      639       314      450       202        79      505        -1           1          29

[404066 rows x 17 columns]

        O_Score_st  O_FGM_st  O_FGA_st  O_FGM3_st  O_FGA3_st  O_FTM_st  O_FTA_st  O_OR_st  O_DR_st  O_Ast_st  O_TO_st  O_Stl_st  O_Blk_st  O_PF_st
0             2125       770      1812        226        695       359       562      358      686       413      430       240        78      649
1             1831       660      1597        205        622       306       457      278      634       385      377       206       106      520
2             1909       675      1678        171        531       388       601      358      684       386      437       211        92      578
...            ...       ...       ...        ...        ...       ...       ...      ...      ...       ...      ...       ...       ...      ...
404063        1909       716      1820        168        565       309       444      317      701       362      388       227        82      425
404064        1573       570      1539        158        504       275       422      255      525       319      460       206        90      503
404065        2100       775      1734        169        515       381       503      265      742       413      427       244        92      473

[404066 rows x 14 columns]

        Score_au  FGM_au  FGA_au  FGM3_au  FGA3_au  FTM_au  FTA_au  OR_au  DR_au  Ast_au  TO_au  Stl_au  Blk_au  PF_au  Loc_au  NumOT_au  Games_au
0          61132   21472   49428     5212    15168   12976   18778  10901  20592   11413  13576    6455    3276  16876     -41        44       882
1          71790   25722   57167     6185    17365   14161   20434  12126  23541   14396  14173    6443    3336  18343      98        63       966
2          69375   24616   55259     6094    17177   14049   19997  11596  22771   13663  13631    6390    3195  17979      90        58       938
...          ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...     ...       ...       ...
404063     54140   19680   49134     4735    15121   10045   14377   8306  19304   10534  12739    6571    2735  13860      14        35       815
404064     57298   20978   52580     5230    16872   10112   14561   9092  20523   11497  13364    7255    2943  14379      36        49       871
404065     51474   18554   45404     5069    15881    9297   12822   6234  18159   10055  12083    6070    2163  13130     -36        46       803

[404066 rows x 17 columns]

        Score_at  FGM_at  FGA_at  FGM3_at  FGA3_at  FTM_at  FTA_at  OR_at  DR_at  Ast_at  TO_at  Stl_at  Blk_at  PF_at
0          61050   21450   49395     5441    15518   12709   18280  10360  20108   11396  13224    6687    3104  16943
1          68544   24414   56675     6103    17618   13613   19550  11516  22309   13124  14394    6399    3116  18834
2          65930   23419   54603     5705    16866   13387   19267  11233  21859   12611  14214    5961    2893  18481
...          ...     ...     ...      ...      ...     ...     ...    ...    ...     ...    ...     ...     ...    ...
404063     53569   19653   49099     4816    15540    9447   13759   8074  19078   10561  12911    6512    2813  14043
404064     55617   20424   51754     5156    16829    9613   13926   8516  20228   11257  13893    6700    2804  14638
404065     53166   19326   46584     5141    16006    9373   12909   7258  18796   10636  11971    6459    2490  13041

[404066 rows x 14 columns]

In [9]:
pg = gsa.copy()

for stat in stats:
    pg[f"T_{stat}_su"] = (pg[f"T_{stat}_su"] / pg[f"T_Games_su"]).astype("float32")
    pg[f"T_{stat}_st"] = (pg[f"T_{stat}_st"] / pg[f"T_Games_su"]).astype("float32")

    pg[f"O_{stat}_su"] = (pg[f"O_{stat}_su"] / pg[f"O_Games_su"]).astype("float32")
    pg[f"O_{stat}_st"] = (pg[f"O_{stat}_st"] / pg[f"O_Games_su"]).astype("float32")

    pg[f"{stat}_au"] = (pg[f"{stat}_au"] / pg[f"Games_au"]).astype("float32")
    pg[f"{stat}_at"] = (pg[f"{stat}_at"] / pg[f"Games_au"]).astype("float32")

for stat in ["Loc", "NumOT"]:
    pg[f"T_{stat}_su"] = (pg[f"T_{stat}_su"] / pg[f"T_Games_su"]).astype("float32")
    pg[f"O_{stat}_su"] = (pg[f"O_{stat}_su"] / pg[f"O_Games_su"]).astype("float32")
    pg[f"{stat}_au"] = (pg[f"{stat}_au"] / pg[f"Games_au"]).astype("float32")

pg = pg.drop(columns=["T_Games_su", "O_Games_su", "Games_au"])

print(f"pg {pg.shape}\n")
print(pg[[c for c in pg if c[-3:-1] not in ("_s", "_a")]])
print()
print(pg[[c for c in pg if c[:2] == "T_" and c[-3:] == "_su"]])
print()
print(pg[[c for c in pg if c[:2] == "T_" and c[-3:] == "_st"]])
print()
print(pg[[c for c in pg if c[:2] == "O_" and c[-3:] == "_su"]])
print()
print(pg[[c for c in pg if c[:2] == "O_" and c[-3:] == "_st"]])
print()
print(pg[[c for c in pg if c[-3:] == "_au"]])
print()
print(pg[[c for c in pg if c[-3:] == "_at"]])

pg (404066, 94)

        Season  DayNum  TeamID  OppID
0         2003     134    1421   1411
1         2003     136    1112   1436
2         2003     136    1113   1272
...        ...     ...     ...    ...
404063    2025     120    3408   3412
404064    2025     120    3187   3427
404065    2025     120    3464   3460

[404066 rows x 4 columns]

        T_Score_su   T_FGM_su   T_FGA_su  T_FGM3_su  T_FGA3_su   T_FTM_su   T_FTA_su    T_OR_su    T_DR_su   T_Ast_su    T_TO_su  T_Stl_su  T_Blk_su    T_PF_su  T_Loc_su  T_NumOT_su
0        70.866669  24.333334  56.966667   6.433333  18.100000  15.766666  20.633333  12.300000  22.933332  12.766666  16.033333  7.133333  3.000000  19.000000 -0.133333    0.166667
1        85.322578  30.387096  65.967743   7.129032  20.064516  17.419355  24.612904  15.096774  27.709677  17.645161  14.580646  8.516129  4.161290  17.774193  0.096774    0.129032
2        75.966667  27.233334  57.299999   4.000000  12.666667  17.500000  26.100000  13.800000  23.000000  15.400000  13.900000  5.266667  4.266667  19.466667  0.166667    0.066667
...            ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...       ...         ...
404063   68.814812  25.296297  59.555557   6.481482  19.148148  11.740741  18.037037   8.925926  26.444445  14.296296  18.518518  8.185185  3.814815  15.370370  0.185185    0.000000
404064   63.379311  23.206896  59.206898   3.896552  13.793103  13.068966  19.068966  12.758620  22.482759  13.965517  18.482759  9.793103  4.103448  17.517241  0.000000    0.103448
404065   57.222221  20.444445  55.814816   5.740741  20.777779  10.592592  15.074074   8.296296  22.629629  12.259259  16.185184  6.703704  3.111111  17.185184 -0.037037    0.074074

[404066 rows x 16 columns]

        T_Score_st   T_FGM_st   T_FGA_st  T_FGM3_st  T_FGA3_st   T_FTM_st   T_FTA_st    T_OR_st    T_DR_st   T_Ast_st    T_TO_st   T_Stl_st  T_Blk_st    T_PF_st
0        78.566666  27.900000  61.000000   7.566667  20.600000  15.200000  22.466667  13.900000  23.000000  15.833333  12.866667   8.733334  4.166667  18.600000
1        71.322578  26.645161  64.967743   6.645161  20.580645  11.387096  17.838709  13.129032  23.483871  15.612904  16.677420   6.161290  2.612903  21.903225
2        70.466667  25.299999  55.766666   5.433333  15.666667  14.433333  20.966667  11.033334  20.799999  14.300000  15.433333   6.000000  4.000000  22.766666
...            ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...        ...
404063   64.962959  24.333334  65.777779   5.888889  21.037037  10.407408  15.185185  11.518518  22.962963  13.925926  16.000000   9.814815  3.962963  16.777779
404064   61.689655  22.448277  56.862068   5.379310  16.758621  11.413794  16.655172   9.896552  20.344828  13.793103  18.551723  10.724138  3.275862  18.551723
404065   64.518517  22.555555  54.851852   5.629630  17.703703  13.777778  18.888889   7.407407  23.888889  12.666667  14.074074   7.111111  3.481482  17.074074

[404066 rows x 14 columns]

        O_Score_su   O_FGM_su   O_FGA_su  O_FGM3_su  O_FGA3_su   O_FTM_su   O_FTA_su    O_OR_su    O_DR_su   O_Ast_su    O_TO_su  O_Stl_su  O_Blk_su    O_PF_su  O_Loc_su  O_NumOT_su
0        72.800003  24.733334  55.266666   5.933333  18.500000  17.400000  28.066668  13.166667  24.799999  14.200000  15.233334  6.433333  2.233333  18.299999  0.066667    0.100000
1        67.793106  24.827587  55.862068   5.275862  15.482759  12.862069  19.551723  12.965517  25.724138  14.206897  14.068966  6.862069  2.965517  15.896552 -0.137931    0.068966
2        74.517242  26.275862  60.000000   7.000000  20.068966  14.965517  22.896551  14.068966  25.965517  16.620689  13.793103  7.379310  5.068965  18.758621  0.172414    0.034483
...            ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...       ...         ...
404063   67.500000  24.250000  58.071430   8.607142  25.500000  10.392858  14.178572   6.642857  25.178572  14.642858  15.857142  6.500000  4.392857  15.928572 -0.071429    0.107143
404064   66.785713  24.357143  60.142857   5.357143  18.321428  12.714286  17.285715  13.607142  23.285715  14.321428  16.107143  7.892857  4.250000  17.250000  0.000000    0.000000
404065   63.551723  22.551723  59.000000   6.068965  20.655172  12.379311  17.034483   8.724138  22.034483  10.827586  15.517241  6.965517  2.724138  17.413794 -0.034483    0.034483

[404066 rows x 16 columns]

        O_Score_st   O_FGM_st   O_FGA_st  O_FGM3_st  O_FGA3_st   O_FTM_st   O_FTA_st    O_OR_st    O_DR_st   O_Ast_st    O_TO_st  O_Stl_st  O_Blk_st    O_PF_st
0        70.833336  25.666666  60.400002   7.533333  23.166666  11.966666  18.733334  11.933333  22.866667  13.766666  14.333333  8.000000  2.600000  21.633333
1        63.137932  22.758621  55.068966   7.068965  21.448277  10.551724  15.758620   9.586206  21.862068  13.275862  13.000000  7.103448  3.655172  17.931034
2        65.827583  23.275862  57.862068   5.896552  18.310345  13.379311  20.724138  12.344828  23.586206  13.310345  15.068966  7.275862  3.172414  19.931034
...            ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...
404063   68.178574  25.571428  65.000000   6.000000  20.178572  11.035714  15.857142  11.321428  25.035715  12.928572  13.857142  8.107142  2.928571  15.178572
404064   56.178570  20.357143  54.964287   5.642857  18.000000   9.821428  15.071428   9.107142  18.750000  11.392858  16.428572  7.357143  3.214286  17.964285
404065   72.413795  26.724138  59.793102   5.827586  17.758621  13.137931  17.344828   9.137931  25.586206  14.241380  14.724138  8.413794  3.172414  16.310345

[404066 rows x 14 columns]

         Score_au     FGM_au     FGA_au   FGM3_au    FGA3_au     FTM_au     FTA_au      OR_au      DR_au     Ast_au      TO_au    Stl_au    Blk_au      PF_au    Loc_au  NumOT_au
0       69.310661  24.344671  56.040817  5.909297  17.197279  14.712018  21.290249  12.359410  23.346939  12.939909  15.392290  7.318594  3.714286  19.133787 -0.046485  0.049887
1       74.316772  26.627329  59.179089  6.402691  17.976191  14.659420  21.153210  12.552795  24.369566  14.902692  14.671843  6.669772  3.453416  18.988613  0.101449  0.065217
2       73.960556  26.243071  58.911514  6.496802  18.312366  14.977612  21.318764  12.362473  24.276119  14.566098  14.531983  6.812367  3.406183  19.167377  0.095949  0.061834
...           ...        ...        ...       ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...       ...       ...
404063  66.429451  24.147240  60.287117  5.809816  18.553373  12.325153  17.640491  10.191411  23.685890  12.925154  15.630675  8.062576  3.355828  17.006134  0.017178  0.042945
404064  65.784157  24.084959  60.367393  6.004592  19.370838  11.609644  16.717566  10.438577  23.562572  13.199770  15.343284  8.329506  3.378875  16.508612  0.041332  0.056257
404065  64.102119  23.105852  56.542965  6.312578  19.777086  11.577833  15.967622   7.763387  22.613947  12.521793  15.047322  7.559153  2.693649  16.351183 -0.044832  0.057285

[404066 rows x 16 columns]

         Score_at     FGM_at     FGA_at   FGM3_at    FGA3_at     FTM_at     FTA_at      OR_at      DR_at     Ast_at      TO_at    Stl_at    Blk_at      PF_at
0       69.217690  24.319727  56.003403  6.168934  17.594105  14.409297  20.725624  11.746032  22.798185  12.920635  14.993197  7.581633  3.519274  19.209751
1       70.956520  25.273293  58.669773  6.317805  18.238094  14.092133  20.238094  11.921325  23.094202  13.585921  14.900621  6.624224  3.225673  19.496895
2       70.287849  24.966951  58.212154  6.082089  17.980810  14.271855  20.540512  11.975480  23.303839  13.444563  15.153518  6.355011  3.084222  19.702559
...           ...        ...        ...       ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...
404063  65.728836  24.114111  60.244171  5.909203  19.067484  11.591411  16.882208   9.906749  23.408588  12.958282  15.841718  7.990184  3.451534  17.230675
404064  63.854191  23.448910  59.419060  5.919632  19.321470  11.036739  15.988519   9.777267  23.223881  12.924225  15.950631  7.692307  3.219288  16.805969
404065  66.209213  24.067247  58.012455  6.402242  19.932753  11.672479  16.075966   9.038606  23.407223  13.245330  14.907845  8.043587  3.100872  16.240349

[404066 rows x 14 columns]

In [10]:
train = pd.merge(tar, pg, on=["Season", "DayNum", "TeamID"], suffixes=["", "_"])
train = train.drop(columns="OppID_")
train.to_csv("train_daynum.csv", index=False)
print(f"train {train.shape}")
print(train)

train (404066, 95)
        Season  DayNum  TeamID  OppID  Margin  T_Score_su  T_Score_st   T_FGM_su   T_FGA_su  T_FGM3_su  T_FGA3_su   T_FTM_su   T_FTA_su    T_OR_su    T_DR_su   T_Ast_su    T_TO_su  T_Stl_su  T_Blk_su    T_PF_su   T_FGM_st   T_FGA_st  T_FGM3_st  T_FGA3_st   T_FTM_st   T_FTA_st    T_OR_st    T_DR_st   T_Ast_st    T_TO_st   T_Stl_st  T_Blk_st    T_PF_st  T_Loc_su  T_NumOT_su  O_Score_su  O_Score_st   O_FGM_su   O_FGA_su  O_FGM3_su  O_FGA3_su   O_FTM_su   O_FTA_su    O_OR_su    O_DR_su   O_Ast_su    O_TO_su  O_Stl_su  O_Blk_su    O_PF_su   O_FGM_st   O_FGA_st  O_FGM3_st  O_FGA3_st   O_FTM_st   O_FTA_st    O_OR_st    O_DR_st   O_Ast_st    O_TO_st  O_Stl_st  O_Blk_st    O_PF_st  O_Loc_su  O_NumOT_su   Score_au   Score_at     FGM_au     FGA_au   FGM3_au    FGA3_au     FTM_au     FTA_au      OR_au      DR_au     Ast_au      TO_au    Stl_au    Blk_au      PF_au     FGM_at     FGA_at   FGM3_at    FGA3_at     FTM_at     FTA_at      OR_at      DR_at     Ast_at      TO_at    Stl_at    Blk_at      PF_at    Loc_au  NumOT_au
0         2003     134    1421   1411       8   70.866669   78.566666  24.333334  56.966667   6.433333  18.100000  15.766666  20.633333  12.300000  22.933332  12.766666  16.033333  7.133333  3.000000  19.000000  27.900000  61.000000   7.566667  20.600000  15.200000  22.466667  13.900000  23.000000  15.833333  12.866667   8.733334  4.166667  18.600000 -0.133333    0.166667   72.800003   70.833336  24.733334  55.266666   5.933333  18.500000  17.400000  28.066668  13.166667  24.799999  14.200000  15.233334  6.433333  2.233333  18.299999  25.666666  60.400002   7.533333  23.166666  11.966666  18.733334  11.933333  22.866667  13.766666  14.333333  8.000000  2.600000  21.633333  0.066667    0.100000  69.310661  69.217690  24.344671  56.040817  5.909297  17.197279  14.712018  21.290249  12.359410  23.346939  12.939909  15.392290  7.318594  3.714286  19.133787  24.319727  56.003403  6.168934  17.594105  14.409297  20.725624  11.746032  22.798185  12.920635  14.993197  7.581633  3.519274  19.209751 -0.046485  0.049887
1         2003     136    1112   1436      29   85.322578   71.322578  30.387096  65.967743   7.129032  20.064516  17.419355  24.612904  15.096774  27.709677  17.645161  14.580646  8.516129  4.161290  17.774193  26.645161  64.967743   6.645161  20.580645  11.387096  17.838709  13.129032  23.483871  15.612904  16.677420   6.161290  2.612903  21.903225  0.096774    0.129032   67.793106   63.137932  24.827587  55.862068   5.275862  15.482759  12.862069  19.551723  12.965517  25.724138  14.206897  14.068966  6.862069  2.965517  15.896552  22.758621  55.068966   7.068965  21.448277  10.551724  15.758620   9.586206  21.862068  13.275862  13.000000  7.103448  3.655172  17.931034 -0.137931    0.068966  74.316772  70.956520  26.627329  59.179089  6.402691  17.976191  14.659420  21.153210  12.552795  24.369566  14.902692  14.671843  6.669772  3.453416  18.988613  25.273293  58.669773  6.317805  18.238094  14.092133  20.238094  11.921325  23.094202  13.585921  14.900621  6.624224  3.225673  19.496895  0.101449  0.065217
2         2003     136    1113   1272      13   75.966667   70.466667  27.233334  57.299999   4.000000  12.666667  17.500000  26.100000  13.800000  23.000000  15.400000  13.900000  5.266667  4.266667  19.466667  25.299999  55.766666   5.433333  15.666667  14.433333  20.966667  11.033334  20.799999  14.300000  15.433333   6.000000  4.000000  22.766666  0.166667    0.066667   74.517242   65.827583  26.275862  60.000000   7.000000  20.068966  14.965517  22.896551  14.068966  25.965517  16.620689  13.793103  7.379310  5.068965  18.758621  23.275862  57.862068   5.896552  18.310345  13.379311  20.724138  12.344828  23.586206  13.310345  15.068966  7.275862  3.172414  19.931034  0.172414    0.034483  73.960556  70.287849  26.243071  58.911514  6.496802  18.312366  14.977612  21.318764  12.362473  24.276119  14.566098  14.531983  6.812367  3.406183  19.167377  24.966951  58.212154  6.082089  17.980810  14.271855  20.540512  11.975480  23.303839  13.444563  15.153518  6.355011  3.084222  19.702559  0.095949  0.061834
...        ...     ...     ...    ...     ...         ...         ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...        ...       ...         ...         ...         ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...       ...         ...        ...        ...        ...        ...       ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...        ...        ...       ...        ...        ...        ...        ...        ...        ...        ...       ...       ...        ...       ...       ...
404063    2025     120    3408   3412      -2   68.814812   64.962959  25.296297  59.555557   6.481482  19.148148  11.740741  18.037037   8.925926  26.444445  14.296296  18.518518  8.185185  3.814815  15.370370  24.333334  65.777779   5.888889  21.037037  10.407408  15.185185  11.518518  22.962963  13.925926  16.000000   9.814815  3.962963  16.777779  0.185185    0.000000   67.500000   68.178574  24.250000  58.071430   8.607142  25.500000  10.392858  14.178572   6.642857  25.178572  14.642858  15.857142  6.500000  4.392857  15.928572  25.571428  65.000000   6.000000  20.178572  11.035714  15.857142  11.321428  25.035715  12.928572  13.857142  8.107142  2.928571  15.178572 -0.071429    0.107143  66.429451  65.728836  24.147240  60.287117  5.809816  18.553373  12.325153  17.640491  10.191411  23.685890  12.925154  15.630675  8.062576  3.355828  17.006134  24.114111  60.244171  5.909203  19.067484  11.591411  16.882208   9.906749  23.408588  12.958282  15.841718  7.990184  3.451534  17.230675  0.017178  0.042945
404064    2025     120    3187   3427     -19   63.379311   61.689655  23.206896  59.206898   3.896552  13.793103  13.068966  19.068966  12.758620  22.482759  13.965517  18.482759  9.793103  4.103448  17.517241  22.448277  56.862068   5.379310  16.758621  11.413794  16.655172   9.896552  20.344828  13.793103  18.551723  10.724138  3.275862  18.551723  0.000000    0.103448   66.785713   56.178570  24.357143  60.142857   5.357143  18.321428  12.714286  17.285715  13.607142  23.285715  14.321428  16.107143  7.892857  4.250000  17.250000  20.357143  54.964287   5.642857  18.000000   9.821428  15.071428   9.107142  18.750000  11.392858  16.428572  7.357143  3.214286  17.964285  0.000000    0.000000  65.784157  63.854191  24.084959  60.367393  6.004592  19.370838  11.609644  16.717566  10.438577  23.562572  13.199770  15.343284  8.329506  3.378875  16.508612  23.448910  59.419060  5.919632  19.321470  11.036739  15.988519   9.777267  23.223881  12.924225  15.950631  7.692307  3.219288  16.805969  0.041332  0.056257
404065    2025     120    3464   3460     -15   57.222221   64.518517  20.444445  55.814816   5.740741  20.777779  10.592592  15.074074   8.296296  22.629629  12.259259  16.185184  6.703704  3.111111  17.185184  22.555555  54.851852   5.629630  17.703703  13.777778  18.888889   7.407407  23.888889  12.666667  14.074074   7.111111  3.481482  17.074074 -0.037037    0.074074   63.551723   72.413795  22.551723  59.000000   6.068965  20.655172  12.379311  17.034483   8.724138  22.034483  10.827586  15.517241  6.965517  2.724138  17.413794  26.724138  59.793102   5.827586  17.758621  13.137931  17.344828   9.137931  25.586206  14.241380  14.724138  8.413794  3.172414  16.310345 -0.034483    0.034483  64.102119  66.209213  23.105852  56.542965  6.312578  19.777086  11.577833  15.967622   7.763387  22.613947  12.521793  15.047322  7.559153  2.693649  16.351183  24.067247  58.012455  6.402242  19.932753  11.672479  16.075966   9.038606  23.407223  13.245330  14.907845  8.043587  3.100872  16.240349 -0.044832  0.057285

[404066 rows x 95 columns]